.quote {
  font-size: 4rem;
}

.author {
  margin: 0.8rem 0 4rem;
  font-size: 3.2rem;
}

.staff-title,
.contact-title {
  margin: 2rem 0 1.6rem;
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--orangered-theme);
}

.staff-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  margin: 1.2rem 0 4.8rem;
}

.staff-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff-member img {
  width: 18rem;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem var(--background-theme), 0 0 0 0.6rem var(--gold-theme), 1.2rem 1.2rem 1.2rem var(--brown-theme-shadow);
}

.staff-name {
  margin: 1.2rem 0 0.4rem;
  font-size: 3.2rem;
  border-bottom: 0.2rem solid var(--gold-theme);
}

.staff-position {
  font-size: 2.4rem;
}

.position-top {
  object-position: top;
}

.email,
.phone {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.email {
  margin: 0.8rem 0 1.2rem;
}

.email svg,
.phone svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--brown-theme);
}

.phone svg {
  margin-bottom: 0.4rem;
}

.email-address,
.phone-number {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (orientation: portrait) and (max-width: 30rem) {
  .quote {
    width: 40rem;
    text-align: center;
  }
}

@media screen and (orientation: portrait) and (max-width: 47.99rem) {
  .staff-members {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}
