.menu-title,
.burgers-title,
.shakes-title {
  font-weight: 700;
  color: var(--orangered-theme);
}

.menu-title {
  font-size: 4rem;
}

.burgers-title,
.shakes-title {
  margin: 2rem 0 2.4rem;
  font-size: 3.6rem;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  list-style: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item img {
  width: 24rem;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 0.2rem var(--background-theme), 0 0 0 0.6rem var(--gold-theme), 1.2rem 1.2rem 1.2rem var(--brown-theme-shadow);
}

.position-left {
  object-position: 0% 50%;
}

.menu-name {
  margin: 2rem 0 0.8rem;
  font-size: 2.8rem;
  border-bottom: 0.2rem solid var(--gold-theme);
}

.price {
  font-size: 2.2rem;
}
/* For smartphones in portrait mode */
@media screen and (orientation: portrait) and (max-width: 47.99rem) {
  .burgers-title,
  .shakes-title {
    margin: 3.2rem 0;
  }

  .menu-items {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
